<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='/styles/home.css') }}">
        <meta charset="UTF-8">
        <link rel="icon"href="{{ url_for('static', path='favicon.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>LX Enrollment</title>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="{{ url_for('static', path='favicon.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    ECC LX Enrollment
                </a>
            </div>
        </nav>
        <div class="parent-horizontal">
            <div class="div1-horiz"></div>
            <div class="div2-horiz">
                <h1>Request a development instance</h1>
                <div class="parent-vertical">
                    <div class="div1-vert">
                        {% if show_auth %}
                            <a class="auth" href="/login">Please authenticate with IDP</a>
                        {% else %}
                            <p>You have been authenticated!</p>
                        {% endif %}
                    </div>
                    <form action="/submit" method="post">
                        <div class="div2-vert">
                            <strong>Select Your Course:</strong>
                            <select id="selected_class" class="form-select" name="selected_class" style="background-color: #808386;">
                                <option value="none"></option>
                                <option value="cs135">CS 135</option>
                                <option value="cs202">CS 202</option>
                            </select>
                        </div>
                        <div class="div3-vert">
                            <button type="submit" class="auth">Submit</button>
                        </div>
                    </form>
                    {% if complete == False %}
                        <p>You must authenticate and select a course!</p>
                    {% endif %}
                </div>
            </div>
            <div class="div3-horiz"></div>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-5 border-top">
                <div class="col-md-5 d-flex align-items-center">
                    <p>Questions? Email ehelp@engr.unr.edu</p>
                </div>
            </footer>
            <p>
                {{ user }}
            </p>
        </div>
    </body>
</html>