body {
    background-color: #404549 !important;
    color: white !important;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.auth {
    padding: 10px;
    margin-top: 5px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0d6efd;
}
.auth:hover {
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0d6efd;
}
.auth:active {
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0d6efd;
}
.auth:focus {
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0d6efd;
}
.parent-horizontal {
    display: grid;
    /* grid-template-columns: 2fr, 1fr, 2fr; */
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 1fr;
    margin-top: 2vh;
}
@media screen and (max-width: 768px) {
    .parent-horizontal {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr, 1fr, 0fr;
    }
}
.div1-horiz {
    grid-area: 1 / 1 / 2 / 2;
}
.div2-horiz {
    grid-area: 1 / 2 / 2 / 3;
}
.div3-horiz {
    grid-area: 1 / 3 / 2 / 4;
}
.parent-vertical {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 2fr, 1fr;
    row-gap: 1vh;
}
.div1-vert {
    grid-area: 1 / 1 / 2 / 2;
}
.div2-vert {
    margin-top: 1vh;
    grid-area: 2 / 1 / 3 / 2;
}
.div3-vert {
    margin-top: 1vh;
    grid-area: 3 / 1 / 4 / 2;
}
.div4-vert {
    margin-top: 2vh;
    grid-area: 4 / 1 / 5 / 2;
}
.div5-vert{
    margin-top: 2vh;
    grid-area: 5 / 1 / 6 / 2;
}
.div6-vert{
    margin-top: 2vh;
    grid-area: 6 / 1 / 7 / 2;
}
.div7-vert{
    margin-top: 2vh;
    grid-area: 7 / 1 / 8 / 2;
}
input{
    border: 3px solid #808386;
    border-radius: 3px;
    width: 100%;
    background-color: #808386;
    transition: 200ms ease-in-out;
    color: white !important;
}
input:focus {
    outline: none;
    border: 3px solid #0d6efd;
    border-radius: 3px;
    transition: 200ms ease-in-out;
}
button[type=submit] {
    margin-top: 10px;
    border: 3px solid #0d6efd;
    border-radius: 3px;
    margin: auto 0 auto 0;
    background-color: #0d6efd;
    color: white;
    transition: 200ms ease-in-out;
}
footer {
    width: 100%;
}
table {
    width: 100%;
    margin-top: 1vh;
    border-collapse: collapse;
}
td {
    padding-top: 10px;
    text-align: end;
}
td:first-child {
    padding: 0;
    text-align: start;
}
strong {
    margin-bottom: 2px;
}
select {
    margin-top: 2px;
    color: white !important;
}
.smooth {
    transition: 200ms ease-in-out !important;
}